.student-app-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}

.student-main-content {
    width: 881px;
    height: 220px;
    position: absolute;
    top: 70px;
    left: 292px;
    display: flex;
    flex-direction: column;
    gap: 185px;
    box-sizing: border-box;
}

.student-sidebar {
    width: 220px;
    padding: 74px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.student-sidebar-header {
    padding: 20px 15px;
    border-bottom: 1px solid #e9ecef;
    width: 148px;
    height: 53px;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    padding: 1px 0 1px 9px;
}

.student-sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #6c757d;
    margin-top: 0;
}

.student-sidebar-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 110%;
    letter-spacing: 0;
    vertical-align: middle;
}

.student-sidebar-nav {
    width: 100%;
    max-width: 160px;
    height: 889px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.student-nav-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: #495057;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
}

.student-nav-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap:8px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 10px;
}

.student-nav-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 10px;
}

.student-sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #e9ecef;
    font-size: 12px;
    color: #6c757d;
}

.student-title-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.student-form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #42505C;
}

.student-cohort-tag {
    background-color: #E8E2FC;
    color: #0b0b0b;
    font-weight: 400;
    font-size: 14px;
    padding: 8px;
    border-radius: 9px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7rem;
    gap: 10px;
}

.student-nav-item.active {
    width: 160px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    background-color: #DEDEDE;

}