.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #2b03a2, #3a06d6);
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: left 0.3s ease-in-out;
}